@import "../../../variables.global"
@import "../../../mixins.global"

.ul
  margin-left: 20px
  list-style-type: disc
  font-size: 16px
  line-height: 33px
  margin-top: -17px
  letter-spacing: -0.65px
  @include tablet-mini
    @include font(12,24)
  @include mobile
    @include font(10,18)

.li
  list-style-type: disc
  color: $dark-red
[data-theme='off']
  .li
    color: $i-dark-red

.li > .span
  color: $black
  margin-left: 4px
  display: block
[data-theme='off']
  .li > .span
    color: $i-black

.h2
  margin-top: 0px
  letter-spacing: -1px
  @include tablet-mini
    @include font(18,26)
    padding-bottom: 10px
  @include mobile
    @include font(14,28)
    padding-bottom: 10px

.rules
  @include tablet-mini
    background-color: $greyF4
    position: relative
    min-height: 40px
    margin: 0px 20px 40px 40px
  @include mobile
    margin: 10px
[data-theme='off']
  .rules
    @include tablet-mini
      background-color: $i-greyF4

.header
  display: none
  @include tablet-mini
    @include offset(0,0,auto,0)
    @include flex-space()
    align-items: center
    vertical-align: middle
    background-color: $greyC4
    padding: 10px 30px
    margin-bottom: 30px
    color: white

[data-theme='off']
  .header
    @include tablet-mini
      background-color: $i-greyC4

.header > *
  margin: 0
  color: white
  fill: white

[data-theme='off']
  .header
    color: $i-white
    fill: $i-white
