@import "../../../variables.global"
@import "../../../mixins.global"

.daycolumn
  width: 22%
  height: 100%
  @include flex-space(between, column)
  @include tablet-mini
    margin-top: 30px
    width: 100%
    @include flex-space(between, row)
    height: 200px
  @include mobile
    @include flex-space(between, column)
    height: auto

.h3
  margin: 0px
  margin-bottom: 14px
  @include font(24,33,700)

.span
  margin-top: 14px

.red
  color: $red
  font-weight: bold
[data-theme='off']
  .red
    color: $i-red


.daycolumn > div
  background-color: $greyF4
  @include tablet-mini
    width: 49%
    height: 100%
  @include mobile
    width: 100%
    height: 180px

[data-theme='off']
  .daycolumn > div
    background-color: $i-greyF4

.day
  padding: 25px
  height: 55%
  margin-bottom: 32px
  @include mobile
    height: 38%

.tomato
  height: 38%
  @include mobile
    height: 55%

.bigtomato
  @include size(full,full)
  @include flex-center()

.datatomato
  @include size(full,full)
  @include flex-center()
  flex-wrap: wrap
  position: relative

.tIcon
  margin-bottom: 51px

.x
  @include font(24,33,700)
  margin-left: 7px
  margin-bottom: 51px

.footer
  @include size(full,51)
  @include font(24,33,700)
  background-color: $red
  position: absolute
  bottom: 0
  @include flex-center()

[data-theme='off']
  .footer
    background-color: $i-red
