@import "../../../../variables.global"
@import "../../../../mixins.global"

.allcolumn
  @include flex-center(column)
  width: 90%
  height: 5px

.column
  @include flex-center(column)
  @include size(77, 5)
  background-color: $greyC4
  min-height: 5px
  height: 100%
  @include mobile
    width: 77%

[data-theme='off']
  .column
    background-color: $i-greyC4

.full
  background-color: $pink

[data-theme='off']
  .full
    background-color: $i-pink

.full.active
  background-color: $red

[data-theme='off']
  .full.active
    background-color: $i-red
