@import "../../../../variables.global"
@import "../../../../mixins.global"

.li
  list-style: none
  width: 20%

.label
  vertical-align: middle
  line-height: 20px
  @include size(auto,20)
  display: flex
  align-items: center
  cursor: pointer
  background-color: transparent
  white-space: nowrap
  height: 10px
  &::before
    content: ''
    background-color: $white
    display: inline-block
    @include size(12,12)
    border: solid 4px $white
    box-shadow: 0 0 3px 3px $greyF4
    margin-right: 10px
    border-radius: 50%
  &:hover


  &:hover
    &::before
      background-color: $pink
      border: solid 4px $white

.radio
  display: none
  &:checked + .label
    &:before
      background: $red
      border: solid 4px $white
      background-size: 10px 10px
